//  CSS Reset

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

//  Mixins

@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    border-radius:$radius;
}
@mixin border-radiuses($tl, $tr, $br, $bl){ 
    -webkit-border-top-left-radius:$tl;
    -webkit-border-top-right-radius:$tr;
    -webkit-border-bottom-right-radius:$br;
    -webkit-border-bottom-left-radius:$bl;
    -moz-border-top-left-radius:$tl;
    -moz-border-top-right-radius:$tr;
    -moz-border-bottom-right-radius:$br;
    -moz-border-bottom-left-radius:$bl;
    -ms-border-top-left-radius:$tl;
    -ms-border-top-right-radius:$tr;
    -ms-border-bottom-right-radius:$br;
    -ms-border-bottom-left-radius:$bl;
    border-top-left-radius:$tl;
    border-top-right-radius:$tr;
    border-bottom-right-radius:$br;
    border-bottom-left-radius:$bl;
}
@mixin border-box {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
@mixin transition($params...){
    -webkit-transition: $params;
    -moz-transition: $params;
    -ms-transition: $params;
    transition: $params;
}
@mixin transform($params){
    -webkit-transform: $params;
    -moz-transform: $params;
    -ms-transform: $params;
    transform: $params;
}
@mixin box-shadow($params){
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    -ms-box-shadow: $params;
    box-shadow: $params;
}
@mixin no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//  Global

$app_bg: #1d1f21;
$app_text_color: #fff;
$btn_bg: #4B7BC3;

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
body, html { font:15px/25px 'Open Sans', sans-serif; background:$app_bg; color:$app_text_color; }
h1, h2 { font:35px/35px 'Ubuntu Condensed', sans-serif; margin:0 0 10px 0; }
.content { max-width:500px; margin:0 auto; padding:30px 0; }
label { margin:0 0 10px; display:block; }
input[type=text], input[type=email], input[type=password], button { border:none; height:45px; font:15px/45px 'Open Sans', sans-serif; padding:0 20px; display:block; width:100%; @include border-radius(2px); margin:0 0 10px; @include border-box; background:#2B2E31; color:#fff; outline:none; }
button { background:$btn_bg; color:#fff; }
.clearfix { clear:both; }

// h1 { font-size:200px; }



