@import "reset", "mixins";

$app_bg: #1d1f21;
$app_text_color: #fff;
$btn_bg: #4B7BC3;

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
body, html { font:15px/25px 'Open Sans', sans-serif; background:$app_bg; color:$app_text_color; }
h1, h2 { font:35px/35px 'Ubuntu Condensed', sans-serif; margin:0 0 10px 0; }
.content { max-width:500px; margin:0 auto; padding:30px 0; }
label { margin:0 0 10px; display:block; }
input[type=text], input[type=email], input[type=password], button { border:none; height:45px; font:15px/45px 'Open Sans', sans-serif; padding:0 20px; display:block; width:100%; @include border-radius(2px); margin:0 0 10px; @include border-box; background:#2B2E31; color:#fff; outline:none; }
button { background:$btn_bg; color:#fff; }
.clearfix { clear:both; }

// h1 { font-size:200px; }



